body {
background-image: linear-gradient(#C3423F,#FDE74C);
color: #211A1E;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}

.card {
border-style: groove;
padding: 10px;
border-width: 10px;
border-color: #5BC0EB;
background-color: #9BC53D;
}

.card-title {
font-size: larger !important;
font-weight: 500 !important;
}

.card-content {
font-size: large;
font-weight: 500;
}

.select-dropdown {
color: #211A1E;
}

.btn {
color: #211A1E;
background-color: #9BC53D;
border-style:solid;
border-width: 1px;
border-color:#5BC0EB;
}

.input-field>label{
color: #211A1E;
}

